* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin:  0 auto;
  margin: 2.5%;
  text-align: center;
  font-size: 175%;
  width: 100%;
}

@media (min-width: 992px) {
  .box {
  float: left;
  width: 28%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box {
  float: left;
}
  section#chicken, section#beef {
    width: 45%;
  }
  section#sushi {
    width: 95%;
  }

}

@media (max-width: 767px) {
  .box {
    width: 95%;
  }
}

.box {
  padding: 10px 1% 10px 10px;
  background-color: #ADA397;
  margin: 0 auto;
  margin: 2.5%;
  border: 1px solid black;
  height: 200px;
  overflow: auto;
}

.section-title {
  font-size: 125%;
  position: relative;
  text-align: center;
  width: 50%;
  height: 15%;
  top: -10px;
  left: 53.8%;
  border: 1px solid black;
}

article#chicken{
    background-color: #D64161;
}

article#beef{
    background-color: #FF7B25;
}

article#sushi{
    background-color: #6B5B95;
    color:  white;
}
